build
dist
env
tests
mlartifacts
mlruns
docs
__pycache__
*.__pycache__
*.bmad
*.opencode
*.cache
*.coverage
*.DS_Store
*.egg
*.eggs
*.egg-info
*.env
*.git
*.idea
*.ipynb_checkpoints
*.parquet
*.pdf
*.ipynb
*.log
*.json
*.xlsx
*.csv
*.parquets
*.pyc
*.pycache
*.pydevproject
*.pyenv
*.pyo
*.pytest_cache
*.ruff_cache
*.settings
*.static
*.swp
*.venv
*.vscode
